@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

a {
    text-decoration: none
}

.btn {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s all;
    outline: 0;
    /* z-index: 2; */
}

.btn_white {
    background-color: #fff
}

.btn_dark {
    background-color: #303030;
    color: #fff;
    border: none
}

.btn_min {
    height: 50px
}

.btn:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.divider {
    width: 330px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}

.title {
    font-size: 36px;
    font-weight: 400;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 25px 100px;
    background-color:rgb(43, 42, 41);
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 80px 80px;
    z-index: 1;
}

.header__logo {
    max-width: 170px
}

.header__logo img {
    width: 70%;
}

.header__email {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}

.header__email a {
    color: white;
}

.projects {
    padding: 50px 0 150px 0;
    position: relative
}

.tabcontainer {
    display: flex;
    width: 1130px;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25)
}

.tabcontent {
    width: 850px;
    position: relative
}

.tabcontent img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.tabheader {
    width: 280px;
    padding: 35px 30px;
    background-color: #fff
}

.tabheader h3 {
    font-weight: 700;
    font-size: 16px
}

.tabheader__items {
    margin-top: 35px;
    padding-left: 26px;
    border-left: 1px solid #000
}

.tabheader__item {
    font-weight: 700;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: .3s all
}

.tabheader__item_active {
    color: #000;
    font-size: 22px;
    font-weight: 700
}

.about {
    padding: 30px 0 100px 0;
    position: relative
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about__text {
    width: 580px
}

.about__descr {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 300;
    line-height: 24px
}

.about__advantages {
    width: 330px;
}

.about__advantages h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px
}

.about__advantages h3:first-child {
    margin-top: 70px
}

.about__advantages-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px
}

.about__slider {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.about__slider-counter {
    display: flex;
    width: 180px;
    align-items: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .5)
}

.about__slider-wrapper {
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25)
}

.about__slider-prev {
    margin-right: 10px;
    cursor: pointer
}

.about__slider-next {
    margin-left: 10px;
    cursor: pointer
}

.about__slider #current {
    font-size: 48px;
    font-weight: 700;
    color: #000
}

.about__slide {
    width: 100%;
    height: 390px;
}

.about__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills {
    padding: 40px 0 0 0;
}

.skills .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.skills .title {
    text-align: center
}

.skills__field {
    margin-top: 50px;
    padding: 50px 0;
    width: 100%;
}

.skills__item {
    width: 320px;
    min-height: 310px;
    background: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
    /* font-size: 16px; */
    /* font-weight: 300; */
    padding: 5px;
}

.skills__item img {
    width: 100%;
    height: 310px;
    object-fit: contain;
    margin: auto 0;
}
/* 
.skills__item-title {
    font-weight: 700;
    font-size: 35px;
    padding: 30px 20px;
    margin-top: 20px;
    text-align: center;
} */

.footer {
    min-height: 180px;
    background-color: #303030;
    padding: 45px 0 50px 0;
    color: #fff
}

.footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .subtitle {
    font-size: 20px
}

.footer .link {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #fff
}

.social img {
    width: 20px;
    float: left;
    margin-right: 5px;
}

.footer .call {
    text-align: right
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto
}

.modal textarea {
    width: 280px;
    height: 100px;
    font-size: 0.8em;
    resize: none;
    overflow: hidden;
    padding: 0;
}

.modal textarea::placeholder {
    width: 280px;
    height: 100px;
    line-height: 2em;
    font-size: 1.1em;
    text-align: center;
}

.modal input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.5s;
}

.modal textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.5s;
}